@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button_search {
    @apply px-4 py-2 border rounded-full cursor-pointer hover:shadow-lg active:scale-95
        active:bg-gray-200 transition transform duration-150 ease-out;
  }
}

.mapboxgl-popup-content {
  @apply w-96 h-full rounded-xl relative p-2 !important;
}

.mapboxgl-popup-close-button {
  @apply flex items-center justify-center text-white text-4xl absolute top-1 bg-red-500 rounded-full h-8 w-8 right-1 !important;
}

.rdrMonth {
  width: 100% !important;
}

.rdrCalendarWrapper {
  width: 100% !important;
}
